@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700,500,300italic,400italic,500italic,700italic|Source+Sans+Pro:400,200italic,300italic,400italic,600italic,700italic,700,600,300,200);

html, body, div {
	margin: 0;
	padding: 0;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 300;
	font-size: 18px;
	line-height: 1.5em;
}

a{
	text-decoration: none;
	color: #365899;
}

section {
	width: 70%;
	margin: auto;
	padding-bottom: 50px;
}

#who {
	margin-top: 10%;
}
#contact .section_title:hover {
	cursor: pointer;
	background-color: #365899;
	color: #2e2f2f;
}
#contact .section_title a:hover {
	color: #fff;
}
.container {
	margin: 10px 0 10px 0;
}
.title {
	font-weight: 500;
	font-size: 60px
}

.subtitle {
	font-weight: 400;
	font-size: 20px;
	color: #2e2f2f;
}
.finally {
	font-weight: 400;
	margin-bottom: 20px;
	color: #365899;
}
.section_title {
	display: inline-block;
	padding: 5px 10px;
	border: 1px solid #365899;
	/*background-color: #2e2f2f;*/
	color: #365899;
	font-size:20px;
	font-weight: 400;
}

.text {
	margin-top: 30px;
}

.proj {
	margin-top: 30px;
}
.tech {
	margin-top: 10px;
	font-size: 17px;
	color: #A8A8A8;
}
.proj_title {
	font-size: 18px;
	font-weight: 400;
	/*color: #365899;*/
}